.heading svg {
    width: 15px;
    height: 15px;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active .heading svg {
    transform: rotate(45deg);
}

.holder {
    position: relative;
    font-family: Poppins;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.holder .faqblock {
    flex: 0 0 47%;
    margin: 10px 0;
}

.holder>.faqblock {
    margin: 10px;
}

.holder {
    margin: -10px;
}

.active .heading {
    background-color: var(--brand-col2);
    box-shadow: 4px 4px 12px -6px var(--brand-col2);
}

.inactive {
    filter: grayscale(1);
    opacity: 0.5;
}

.content {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    transform: translateY(-50px);
    background-color: white;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    padding: 30px 20px;
    font-size: 12px;
    border-radius: 10px;
    transition: all .12s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 8px 8px 32px -6px #00000033;
}

.active .content {
    transform: translateY(0px);
    top: 55px;
    pointer-events: all;
    opacity: 1;
}

.active {
    z-index: 999;
}

.faqblock {
    position: relative;
}

.heading {
    z-index: 5;
    position: relative;
    box-shadow: 4px 4px 12px -6px #00000022;
    border-radius: 15px;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 20px;
}

@media only screen and (max-width:768px) {
    .holder .faqblock {
        flex: 0 0 100%;
    }
}