.notification {
    font-family: Poppins;
    position: fixed;
    width: auto;
    height: auto;
    left: 20px;
    bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 99999999999;
    padding: 10px 20px;
}

.notification_inner {
    padding: 0 15px;
}

.notification {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slideup 2s normal cubic-bezier(0, .66, .18, .99);
    animation-fill-mode: forwards;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}