.section {
    width: 100%;
    position: relative;
}

.full {
    min-height: 100vh;
}

.blue {
    background-color: var(--brand-col1);
    min-height: 30vh;
    overflow: hidden;
}

.visible {
    overflow: visible !important;
}

.blue_inner {
    padding: 120px 8vw;
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
}

.neg {
    margin: -40px;
}

.margin {
    padding: 0 8vw;
    overflow: hidden;
}
@media only screen and (max-width:1200px) {
    .section{
        padding: 0 15px;
    }
    .section[data-parent="true"]{
        padding: 0 0px;
    }
}
@media only screen and (max-width:968px) {
    .blue_inner {
        flex-wrap: wrap;
        align-items: stretch;
    }
}