.container {
    padding: 0 0rem;
}

.main {
    min-height: 100vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}



.extraresp {
    justify-content: flex-start !important;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

/* .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    overflow: hidden;
    background-image: url(/hero_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: bganim 6s alternate infinite ease-in-out;
}
 */
@keyframes bganim {
    0% {
        opacity: 1;
        background-size: 100%;
    }
    100% {
        opacity: 1;
        background-size: 120%;
    }
}

.hero_heading {
    text-align: center;
    font-size: 72px;
    font-family: Modernist;
    font-weight: bold;
    line-height: 88px;
}

.hero_heading span .verse {
    background: rgb(6, 37, 98);
    background: linear-gradient(3deg, rgba(6, 37, 98, 1) 0%, rgba(19, 115, 228, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 28px;
    margin: 10px 0;
}

.hero p .blue {
    color: var(--brand-col1);
}

.btn,
.acc_btn {
    background: rgb(250, 162, 48);
    background: linear-gradient(274deg, rgba(250, 162, 48, 1) 0%, rgba(251, 191, 70, 1) 100%);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid transparent;
    cursor: pointer;
    margin: 20px 0;
    z-index: 9;
}

.btn:hover,
.acc_btn:hover {
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 2px 2px 12px -2px rgba(247, 142, 4, 0.637);
    border: 1px solid white;
    color: white;
}

.markey {
    pointer-events: none;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: auto;
    font-family: Modernist;
    font-weight: bold;
    font-size: 112px;
    -webkit-text-stroke: 1px rgb(83, 83, 83);
    color: white;
    mix-blend-mode: multiply;
}

.grid_four {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: -50px;
    padding: 80px 0;
}

.grid_four>.grid {
    margin: 10px;
}

.grid {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    background-blend-mode: multiply;
    border-radius: 15px;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all .3s cubic-bezier(0, .66, .18, .99);
    z-index: 9;
}

.grid:not(:first-child):hover {
    filter: grayscale(0.5) brightness(1.5);
}

.grid h1 {
    font-size: 7vw;
    line-height: 7vw;
    text-align: right;
    font-family: Modernist;
    font-weight: bold;
}

.grid h1 .blue {
    color: var(--brand-col1);
}

.grid p {
    margin-top: 20px;
    font-size: 14px;
    text-align: right;
}

.grid.blue {
    background-color: var(--brand-col1);
}

.inner_grid_content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 30px;
    justify-content: flex-end;
}

.about_content p b {
    color: var(--brand-col1);
}

.different li {
    margin: auto 0;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    padding-left: 20px;
    position: relative;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.different li:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: rgb(245, 245, 245);
    left: 0;
    bottom: 0px;
}

.different li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--brand-col2);
    left: 0;
    top: 10px;
    border-radius: 3px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.journey li {
    margin: auto 0;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    padding-left: 20px;
    position: relative;
    z-index: 2;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.journey li::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--brand-col1);
    left: 0;
    top: 10px;
    border-radius: 23px;
    transform: scale(1);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.journey li::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--brand-col2);
    left: 5px;
    top: 0px;
    border-radius: 3px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.journey li:hover::after {
    transform: scale(3);
    opacity: 0.4;
}

.journey,
.different {
    padding: 20px 0;
}

.journey li rv {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.journey li:hover rv {
    color: #0B4290;
    font-weight: bold;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.different li:hover::before {
    background-color: var(--brand-col1);
}

.different li:hover {
    background-color: #0071f315;
}

.about_content p y {
    color: var(--brand-col2);
}

.inner_grid_content h2 {
    color: white;
    font-size: 42px;
    font-family: Modernist;
    font-weight: bold;
    line-height: 38px;
}

.inner_grid_content p {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    font-size: 12px !important;
    color: #ddd;
}

.about_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    min-height: 800px;
    width: 100%;
    margin: -30px;
    padding: 50px 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.about_wrapper>div {
    margin: 30px;
}

.about_image {
    width: 50%;
    background-image: url('/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    border-radius: 20px;
    background-color: var(--brand-col1);
    background-blend-mode: luminosity;
}

.about_content {
    width: 50%;
}

.about_content h2 {
    color: black;
    font-size: 42px;
    line-height: 50px;
    font-family: Modernist;
    font-weight: bold;
}

.about_content h2 .blue {
    color: var(--brand-col1);
}

.about_content p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

/* .hero_heading circ {
    background: rgb(6, 37, 98);
    background: linear-gradient(3deg, rgba(6, 37, 98, 1) 0%, rgba(19, 115, 228, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 200px;
    position: relative;
    font-size: 44px;
} */
/* 
.hero_heading circ::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 100%;
    transform: translate(-48%, -60%) scale(1.2);
    border-radius: 200px;
    border: 2px solid rgba(19, 115, 228, 1);
} */

.line_two {
    width: 130vw;
    height: 2px;
    background-color: rgb(196, 196, 196);
    position: absolute;
    right: -30%;
    top: 8vw;
}

.line_two.two {
    right: 0%;
    bottom: 15vw;
    top: unset;
    z-index: -1;
}

.line_two.two::before {
    animation-delay: 5200ms;
}

.line_two::before {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -6px;
    left: -5%;
    content: '';
    background-color: var(--brand-col1);
    animation: sliding 12s normal infinite linear;
}

.columns {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin: -3vw;
    padding: 50px 0 100px 0;
}

.columns>* {
    margin: 3vw;
}

.overlay {
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.cs input {
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid rgb(163, 163, 163);
    font-size: 12px;
    padding: 7px;
    margin-top: 12px;
    outline: 2px solid transparent;
    border: 0px solid transparent;
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cs input:focus,
.cs input:hover,
.cs textarea:focus,
.cs textarea:hover {
    outline: 2px solid var(--brand-col1);
    border: 0px solid;
    background-color: rgb(219, 233, 255);
}

.cs button {
    width: auto;
    padding: 10px 20px;
    background-color: var(--brand-col1);
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}

.cs h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 48px;
    font-family: Modernist;
    margin-bottom: 10px;
}

.cs p {
    margin: 10px 0;
    font-size: 14px;
}

.activeoverlay {
    opacity: 1;
}

.custom {
    width: 100%;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 99;
    mix-blend-mode: screen;
}

.ballholder {
    width: 15vw;
    height: 15vw;
    right: -5vw;
    top: 20vw;
    position: absolute;
    animation: floating 6s alternate infinite ease-in-out;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.team_heading {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    font-family: Modernist;
    font-weight: bold;
    line-height: 3vw;
}

.team_heading:first-child {
    margin-top: 40px;
}

.team_heading .blue {
    color: var(--brand-col1);
}

.team_content {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    width: 100%;
    text-align: center;
}

.team_content p {
    font-size: 14px;
    line-height: 18px;
    width: 50%;
    font-weight: 500;
    color: #666;
    margin: 20px auto;
}

.team_content .yellow {
    color: var(--brand-col2);
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

.media_grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 50px;
}

.media_grid img {
    filter: grayscale(1);
    width: 150px;
    height: 5vw;
    object-fit: contain;
    object-position: center;
    padding: 0 25px;
}

.media_container {
    padding: 100px 0px;
}

.media_container p {
    margin-bottom: 80px !important;
}

.line6 {
    width: 100%;
    height: 2px;
    background-color: #ddd;
}

.narrow {
    justify-content: space-evenly;
    padding: 50px 0;
}

@keyframes floating {
    0% {
        transform: translateY(-50px) rotate(0deg);
    }
    100% {
        transform: translateY(50px) rotate(60deg);
    }
}

@media only screen and (max-width:1200px) {
    .columns {
        gap: 4vw;
    }
    .team_content p {
        width: 70%;
        color: #666;
        margin: 20px auto;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}

.heading {
    width: 40vw;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #0B4290;
    text-transform: uppercase;
}

.heading spcl {
    color: #FBB03B;
}

.loader {
    width: 20vw;
    height: 3px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    background-color: #FBB03B;
    animation: load 12s normal cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.loader::after {
    content: '';
    position: absolute;
    width: 12%;
    height: 3px;
    left: 0;
    top: 0;
    opacity: 0.5;
    background: linear-gradient(137deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0) 100%);
    animation: shine 6s normal infinite cubic-bezier(0.23, 1, 0.320, 1);
}

.acc_content p {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 20px;
}

.acc_content {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    width: 40%;
    position: relative;
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

.acc_btn {
    margin: 0px;
}

.acc_content h2 {
    line-height: 58px;
    text-align: left;
    color: white;
    font-size: 46px;
    font-family: Modernist;
    font-weight: bold;
    margin-bottom: 20px;
}

.acc {
    width: 70%;
    min-height: 300px;
    position: relative;
    background-image: url(/sdc.jpeg);
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-color: white;
}

.button_wrapper {
    margin: -10px;
}

.button_wrapper>a {
    margin: 10px;
}

.acc,
.acc_content {
    margin: 20px;
}

.panel {
    width: auto;
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.acc_bgb {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: -20%;
    pointer-events: none;
    mix-blend-mode: overlay;
}

.acc_bgt {
    width: 100vw;
    mix-blend-mode: overlay;
    height: auto;
    position: absolute;
    top: 0;
    right: -20%;
    pointer-events: none;
}

.swirl_bg {
    width: 100vw;
    mix-blend-mode: overlay;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0%;
    pointer-events: none;
}

.dots {
    height: auto;
    width: 24px;
    position: absolute;
    pointer-events: none;
}

.dots:nth-child(1) {
    left: 5vw;
    bottom: 5vw;
}

.dots:nth-child(2) {
    right: 5vw;
    top: 5vw;
}

.d_h3 {
    color: var(--brand-col2);
    width: 100%;
    text-align: center;
    font-size: 46px;
    font-family: Modernist;
    font-weight: bold;
}

.d_h2 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    line-height: 4vw;
    font-family: Modernist;
    font-weight: bold;
}

.button_wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.button_wrapper a {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 8px;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button_wrapper a:nth-child(1) {
    background-color: white;
}

.button_wrapper a:nth-child(2) {
    color: white;
}

.button_wrapper a:nth-child(1):hover {
    background-color: rgb(143, 143, 143);
}

.button_wrapper a:nth-child(2):hover {
    color: rgb(133, 133, 133);
    border: 1px solid rgb(114, 114, 114);
}

.d_wrapper {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.grid a {
    width: 100%;
    height: 100%;
}

@keyframes shine {
    0% {
        left: -10%;
    }
    100% {
        left: 110%;
    }
}

.recognized {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    padding: 40px 40px;
}

.recognized img {
    width: 110px;
    flex-shrink: 0;
    object-fit: contain;
    margin-right: 20px;
}

.recognized_inner h2 {
    font-size: 1.6rem;
    letter-spacing: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.recognized_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
}

.accredit {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: -20px;
    margin-bottom: 40px;
}

.rec {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recognized_inner h3 {
    line-height: 2.2rem;
    color: var(--brand-col1);
    font-weight: 500;
    font-size: 2rem;
}

.recognized_inner {
    flex: 1 1 50%;
}

.panel img {
    animation: pulse 2s alternate infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width:968px) {
    .team_heading {
        font-size: 6vw;
        line-height: 7vw;
    }
    .team_content p {
        font-size: 14px;
        width: 90%;
        color: #666;
        margin: 20px auto;
    }
    .ballholder {
        width: 25vw;
        height: 25vw;
    }
    .columns {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        gap: 50px;
    }
    .about_wrapper {
        flex-wrap: wrap;
    }
    .about_content {
        width: 100%;
    }
    .about_image {
        width: 100%;
        min-height: 75vw;
    }
    .about_content h2 {
        color: black;
        font-size: 5vw;
        line-height: 6vw;
        font-family: Modernist;
        font-weight: bold;
    }
    .about_content p {
        font-size: 1.7vw;
        color: #666;
    }
    .d_h2 {
        font-size: 6vw;
        line-height: 7vw;
    }
    .d_h3 {
        font-size: 6vw;
    }
    .acc_bgb {
        width: 100vw;
        bottom: 0;
        left: -30%;
    }
    .acc_bgt {
        width: 150vw;
        right: -30%;
    }
    .acc {
        width: 100%;
        height: 300px;
    }
    .accredit {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .recognized {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .acc_content {
        width: 100%;
    }
    .hero {
        animation: none;
        background-size: cover;
    }
    .hero_heading {
        line-height: 7vw;
        font-size: 3em;
    }
    .hero p {
        font-size: 4vw;
    }
    .btn {
        margin: 10px 0;
        font-size: 14px;
    }
    .markey {
        font-size: 12vw;
        bottom: 150px;
    }
    .heading {
        width: 100vw;
        font-size: 26px;
        padding: 10px 20px;
    }
    .panel p {
        text-align: center;
        width: 100%;
    }
    .loader {
        width: 80vw;
    }
    .panel {
        padding: 0px;
    }
   /*  .hero {
        width: 100%;
        height: 100vh;
        background-image: url(/hero_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */
    .narrow {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.learn_more h2 {
    width: 100%;
    font-size: 42px;
    text-align: left;
    font-weight: bold;
    font-family: Modernist;
    line-height: 48px;
    color: rgb(245, 33, 44);
}

.grid_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: -25px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0;
}

.learn_more p {
    margin-top: 20px;
    font-size: 12px;
}

@media only screen and (max-width:768px) {
    .recognized img {
        width: 20vw;
        margin: 0;
        margin-bottom: 10px;
    }
    .recognized_item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .recognized h3 {
        font-size: 1rem;
        margin: 10px 0;
        line-height: 1.2rem;
    }
    .grid_four {
        margin: 0px;
    }
    .narrow {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .team_heading {
        font-size: 8vw;
        line-height: 9vw;
    }
    .team_content p {
        width: 100%;
        color: #666;
        font-size: 12px;
        margin: 20px auto;
    }
    .about_content h2 {
        color: black;
        font-size: 7vw;
        line-height: 8vw;
        font-family: Modernist;
        font-weight: bold;
    }
    .about_content p {
        font-size: 12px;
        color: #666;
    }
    .line_two {
        top: 14vw;
        z-index: -1;
    }
    .inner_grid_content h2 {
        font-size: 6vw;
        line-height: 7vw;
    }
    .grid {
        width: 100%;
        height: auto;
    }
    .grid:first-child {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .grid h1 {
        width: 100%;
        text-align: left;
        font-size: 12vw;
        line-height: 12vw;
    }
    .grid p {
        width: 100%;
        text-align: left;
        font-size: 14px;
    }
   /*  .hero_heading circ {
        background: rgb(6, 37, 98);
        background: linear-gradient(3deg, rgba(6, 37, 98, 1) 0%, rgba(19, 115, 228, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-radius: 200px;
        position: relative;
        font-size: 6vw;
    } */
   /*  .hero_heading circ::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70%;
        width: 100%;
        transform: translate(-48%, -60%) scale(1.2);
        border-radius: 200px;
        border: 1.5px solid rgba(19, 115, 228, 1);
    } */
}

.chords {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 150px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 1px !important;
    background-color: rgb(184, 184, 184);
    position: relative;
    pointer-events: none;
}

.line::before {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -6px;
    left: -5%;
    content: '';
    background-color: var(--brand-col2);
    border-radius: 200px;
    animation: sliding 12s normal infinite linear;
}

.line:nth-child(1)::before {
    animation-delay: 100ms;
}

.line:nth-child(2)::before {
    animation-delay: 800ms;
}

.line:nth-child(3)::before {
    animation-delay: 1700ms;
}

@keyframes sliding {
    0% {
        left: -5%;
    }
    0% {
        left: 105%;
    }
}